<div class="container-flud login-screen">
    <div class="login-form-container">
        <div class="center-block sys-title">
          <img src="../../assets/imgs/login_logo.PNG" style="width:280px">
          壹銀人壽網路應用平臺
        </div>
        <form #form="ngForm" (ngSubmit)="form.form.valid" novalidate class="form-horizontal login-form" role="form">
            <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !userName.valid }">
                <div class="col-xs-12 input-group">
                    <img src="../../assets/imgs/user.svg" style="display:inline-block;float:left">
                    <input required name="userName" style="width:89%" [(ngModel)]="user.userName" #userName="ngModel" type="text" class="form-control input-border" placeholder="請輸入用戶名">
                </div>
                <div style="margin-left: 40px;" *ngIf="form.submitted && !userName.valid" class="text-danger">{{'userLogin.userNameDanger' | translate}}</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !password.valid }">
                <div class="col-xs-12 input-group">
                  <img src="../../assets/imgs/password.svg" style="display:inline-block;float:left">
                    <input required minlength="8" [(ngModel)]="user.password" name="password" #password="ngModel" type="password" style="width:89%" class="form-control input-border"
                        placeholder="請輸入密碼">
                </div>
                <div style="margin-left: 40px;" *ngIf="form.submitted && !password.valid" class="text-danger">{{'userLogin.passWordDanger' | translate}}</div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" style="border-radius: 10px;" class="btn btn-success btn-block" (click)="login()">{{'userLogin.login' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
