<top-crumb [title]='"發起表單簽文"'></top-crumb>
<div class="content-container">
<div class="panel-from">
  <p-panel header="表單簽文清單" [toggleable]="true">
      <p-table [value]="dataList" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
              <tr>
                  <th>表單類型</th>
                  <th>表單名稱</th>
                  <th>表單說明</th>
                  <th>發起簽文</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr><td>{{data.type}}</td>
                <td>{{data.name}}</td>
                <td><img src="../../../assets/imgs/active/search.svg"></td>
                <td><a  routerLink="from-launch">發起簽文</a></td></tr>
          </ng-template>
      </p-table>
    </p-panel>
    </div>
</div>
