.left-menu-container{
  position: fixed;
  z-index: 999;
  background: #fff;
  border: 1px solid #aaa;
  padding: 0px 20px;
  padding-left: 0px;
  height: 100%;
  box-shadow: 0px 0px 10px;
  top: 50px;
}
.left-menu-container ul,li{
  list-style: none;
  padding: 0;
}
.left-icon{
    width: 22px;
    vertical-align: text-bottom;
    margin-right: 10px;
}
.menu-title{
  overflow: hidden;
  width: 150px;
}
.menu-title li{
  padding-left: 13px;
  margin: 40px 0px;
}
.menu-title li:focus{
  outline: none;
}
.menu-title li:active{
  outline: none;
}
.menu-title li:hover{
  cursor: pointer;
}
.menu-title a {
  color: #B3B3B4;
  white-space:nowrap;
}
.menu-title .active{
  border-left: 2px solid #73BD8B;
}
.menu-icon{
  position: absolute;
  width: 10px;
  height: 50px;
  background: #626060;
  top: 40%;
  left: 170px;
}
.menu-icon:hover{
  cursor: pointer;
  opacity: 0.8;
}
.openimg{
  position: absolute;
  left: -4px;
  top: 15px;
}
.closeimg{
  position: absolute;
  left: -3px;
  top: 15px;
  transform: rotate(180deg);
}
.left-icon-search{
  background: url('../../../assets/imgs/menu/search.svg')no-repeat;
  background-size: 22px;
  padding-left: 30px;
}
.active .left-icon-search{
  background: url('../../../assets/imgs/menu/search-active.svg')no-repeat;
  background-size: 22px;
  color: #73BD8B;
}
 .left-icon-todo{
  background: url('../../../assets/imgs/menu/todo.svg')no-repeat;
  background-size: 22px;
  padding-left: 30px;
}
.active .left-icon-todo{
  background: url('../../../assets/imgs/menu/todo-active.svg')no-repeat;
  background-size: 22px;
  color: #73BD8B;
}
.left-icon-dashboard{
  background: url('../../../assets/imgs/menu/dashboard.svg')no-repeat;
  background-size: 22px;
  padding-left: 30px;
}
.active .left-icon-dashboard{
  background: url('../../../assets/imgs/menu/dashboard-active.svg')no-repeat;
  background-size: 22px;
  color: #73BD8B;
}
.left-icon-setting{
 background: url('../../../assets/imgs/menu/setting.svg')no-repeat;
  background-size: 22px;
   padding-left: 30px;
 }
.active .left-icon-setting{
   background: url('../../../assets/imgs/menu/setting-active.svg')no-repeat;
   background-size: 22px;
   color: #73BD8B;
 }
 .left-icon-alert{
   background: url('../../../assets/imgs/menu/alert-search.svg')no-repeat;
   background-size: 22px;
   padding-left: 30px;
 }
.active .left-icon-alert{
   background: url('../../../assets/imgs/menu/alert-search-active.svg')no-repeat;
   background-size: 22px;
   color: #73BD8B;
 }
 .left-icon-launch{
  background: url('../../../assets/imgs/menu/launch.svg')no-repeat;
  background-size: 22px;
  padding-left: 30px;
}
.active .left-icon-launch{
  background: url('../../../assets/imgs/menu/launch-active.svg')no-repeat;
  background-size: 22px;
  color: #73BD8B;
}
